BODY{
	
	background-color: white;
	padding: 0px;
	margin: 0px;
	
}

#btnOpenCamera {
	background-color: green;
	color: white;
	cursor: pointer;
	padding: 20px;
	width: 50px;
}
#btnOpenGalery {
	background-color: blue;
	color: white;
	cursor: pointer;
	padding: 20px;
	width: 50px;
}

#stage{
	position: relative;
	padding: 0px;
	margin: 0px;
}

#container{
	position: absolute;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}


#navigacija{
	display: none;
	padding: 20px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
}




#div_btnOKCrop{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999999; 
	display: none;
}

